extends layout

block content
    .w3-container
            .w3-card-4
                header.w3-container.w3-indigo
                    h3 Novo Aluno
                .w3-container
                    form.w3-container(action='/alunos' method='POST')
                        label
                            b Número
                        input.w3-input.w3-border.w3-light-grey(type='text' name='numero')
                        label 
                            b Nome
                        input.w3-input.w3-border.w3-light-grey(type='text' name='nome')
                        label 
                            b Curso
                        input.w3-input.w3-border.w3-light-grey(type='text' name='curso')

                        input.w3-btn.w3-blue-grey(type='submit' value='Enviar')            
            .w3-card-4
                table.w3-table-all
                    tr
                        th Número
                        th Nome
                        th Curso
                        th Operações
                    each a in turma
                        tr
                            td= a.numero
                            td= a.nome
                            td= a.curso
                            td 
                                a(href="/alunos/" + a.numero + "/")
                                  button.w3-button.w3-circle.w3-deep-purple Ver Notas
                                button.w3-button.w3-circle.w3-deep-purple(onclick="apagaAluno('" + a.numero + "')") Apagar
            footer.w3-container.w3-indigo
                address .:Gerado por Alunos App:.
